<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBongDa.Properties.Settings.GIAIVODICHBONGDAConnectionString"
            connectionString="Data Source=DESKTOP-LTNSJNF\SQLEXPRESS;Initial Catalog=GIAIVODICHBONGDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBongDa.Properties.Settings.QuanLyGiaiVoDichConnectionString"
            connectionString="Data Source=DESKTOP-LTNSJNF\SQLEXPRESS;Initial Catalog=QuanLyGiaiVoDich;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>